<!-- Single session item component -->
<dom-module id="team-summit-session-item">

  <template>

    <!-- CUSTOM STYLES -->
    <style>
      :host {
        cursor: pointer;
        letter-spacing: 0.2px;
      }
      .selected{
        background: #F5F5F5;
      }
      .session-title{
        font-size: 14px;
        font-weight: 600;
        color: #005084;
      }
      .session-speaker{
        font-size: 12px;
        font-weight: 500;
        color: #707070;
      }
      .session-item{
        padding: 11px;
        border-bottom: 1px #CDCDCD solid;
      }
    </style>

    <!-- VIEW -->
    <div class$="session-item {{selectedState}}">
      <div class="session-title">{{session.Title}}</div>
      <template is="dom-repeat" items="{{session.Speakers}}" as="speaker">
        <div class="session-speaker">{{speaker.firstNameLastNameCompany}}</div>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: 'team-summit-session-item',
      properties: {
        selectedState:{
          type: String,
          notify: true,
          reflectToAttribute: true,
          value: ""
        },
        track:{
          type: String,
          notify: true,
          reflectToAttribute: true
        },
        index:{
          type: Number,
          notify: true,
          reflectToAttribute: true
        }
      },
      listeners: {
          'click': 'clickListener'
      },
      clickListener: function(e){
        this.fire('sessionChanged', {
          id: this.id,
          track: this.track,
          index: this.index
        });
      }
    });
  </script>

</dom-module>