<!-- Header component -->
<!-- Sets a atlassian blue themed header -->
<!-- Sets atlassian-brand logo -->
<!-- Responsive -->
<dom-module id="team-summit-header">
   <template>
      <!-- CUSTOM STYLES -->
      <style>
        :host {}
        /* Remove the navbar's default margin-bottom and rounded borders */
        /* Set BG color to 005084 "Old atlassian theme color"*/

        .navbar {
          margin-bottom: 0px;
          border-radius: 0px;
          background: #005084;
        }


        /* Set positioning*/

        .logo {
          padding: 5px 0px 15px 100px;
        }


        /* On small screens, left padding to 15px */

        @media screen and (max-width: 767px) {
          .logo {
            padding-left: 15px;
          }
        }
      </style>
      <!-- VIEW -->
      <nav class="navbar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand logo" href="#">
               <img src="../../images/header-logo.png" alt="Atlassian SUMMIT">
               </a>
            </div>
         </div>
      </nav>
   </template>
   <script>
      Polymer({
        is: 'team-summit-header',
        properties: {

        }
      });
   </script>
</dom-module>